{% load static %}
<html>
<head>
<title>Securing Data With Blockchain and AI</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="main">
  <div class="main_resize">
    <div class="header">
      <div class="logo">
        <h1><span>Securing Data With Blockchain and AI</span><small></small></h1>
      </div>
    </div>
    <div class="content">
      <div class="content_bg">
        <div class="menu_nav">
          <ul>
            <ul>
      <li><a href="{% url 'index' %}">Home</a></li>
      <li><a href="{% url 'Hospital' %}">Hospital</a></li>
      <li><a href="{% url 'Patient' %}">Patients Login</a></li>
      <li><a href="{% url 'CreateProfile' %}">New Patient Register Here</a></li>
   </ul>
          </ul>
        </div>
        <div class="hbg"><img src="{% static 'images/images_1.jpg' %}" width="915" height="286" alt="" /></div>

		{{ data }}

       <p align="justify"><font size="3" style="font-family: Comic Sans MS" color="black">Abstract-Data is the input for various articial intelligence (AI) algorithms to mine valuable features, yet
data in Internet is scattered everywhere and controlled by different stakeholders who cannot believe in each
other, and usage of the data in complex cyberspace is difcult to authorize or to validate. As a result, it is very
difcult to enable data sharing in cyberspace for the real big data, as well as a real powerful AI. </p>
<p align="justify"><font size="3" style="font-family: Comic Sans MS" color="black">
 In this paper,
we propose the SecNet, an architecture that can enable secure data storing, computing, and sharing in the
large-scale Internet environment, aiming at a more secure cyberspace with real big data and thus enhanced
AI with plenty of data source, by integrating three key components:</p>
<p align="justify"><font size="3" style="font-family: Comic Sans MS" color="black">
1) blockchain-based data sharing with
ownership guarantee, which enables trusted data sharing in the large-scale environment to form real big data.<br/>
2) AI-based secure computing platform to produce more intelligent security rules, which helps to construct
a more trusted cyberspace.<br/> 
3) trusted value-exchange mechanism for purchasing security service, providing
a way for participants to gain economic rewards when giving out their data or service, which promotes the
data sharing and thus achieves better performance of AI. Moreover, we discuss the typical use scenario of
SecNet as well as its potentially alternative way to deploy, as well as analyze its effectiveness from the aspect
of network security and economic revenue. </p>
 
 
  </body>
</html>
